<div class='detail'>
  <div class='title'><%= @record.run_title %></div>
  <p>距離:<%= @record.run_distance %>km</p>
  <p>タイム:<%= @record.run_time %></p>
  <div class='article'>
    <h3><%= @record.run_article %></h3>
  </div>
  <%= link_to '編集', edit_record_path %>
  <%= link_to '削除', @record, method: :delete %>
  <%= link_to "メイン", root_path, method: :get %>
</div>
